body {
  background-color: #D9E4DD;

}

h1 {
 color: #555555;
 font-family: Helvetica;

}

hr {
  color: #CDC9C3;
  width: 30%;
  font-family: Helvetica;

}

p {
  width:  40%;
  font-family: Helvetica;
}

ul {
  font-family: Helvetica;
}
